@import '../theme/variables.scss';

.home-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.big-point-lines {
    position: absolute;
    top: 0;
    right: 0;
}

.made-with-sciente-desktop {
    position: absolute;
    left: 47px;
    top: 280px;
}

.main-page-section {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: $maxWidthContainer;
    margin-bottom: 118px;
}

.products-title {
    font-weight: 700;
    font-size: 24px;
    color: $crossText;
    margin-bottom: 65px;
}

.products-section {
    flex-direction: column;
}

.made-with-science-home {
    display: none;
}


@media (max-width: 1024px) {
    .home-container {
        padding-top: 112px;
    }

    .big-point-lines {
        display: none;
    }

    .made-with-sciente-desktop {
        display: none;
    }

    .main-page-section {
        flex-direction: column;
        margin-bottom: 31px;
    }

    .products-title {
        margin-bottom: 40px;
    }

    .made-with-science-home {
        display: block;
        margin-top: 35px;
    }
}