@import "../../../theme/variables.scss";

.icon-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9.5px;
}

.icon-button-container:active {
    opacity: 0.7;
}

.orange {
    background-color: $orange;
}

.transparent {
    background-color: transparent;
}

.padding {
    padding: 9.5px;
}