// ACCENT COLORS
$orange: #F5643D;
$blue: #84C4EA;

// COMMON COLORS
$crossBg: #323351;
$disabledOrange: #F9F0EE;
$text: #fff;
$mainBg: #fff;
$textMedium: rgba(255, 255, 255, 0.75);
$whiteLowOpacity: rgba(255, 255, 255, 0.09);

// CONTAINERS VALUES
$maxWidthContainer: 1300px;
$defaultContainerPadding: 34px;
