// ACCENT COLORS
$orange: #F5643D;
$blue: #84C4EA;

// COMMON COLORS
$crossBg: #323351;
$disabledOrange: #F9F0EE;
$text: rgba(255, 255, 255, 1);
$mainBg: #fff;
$textMedium: rgba(255, 255, 255, 0.75);
$whiteLowOpacity: rgba(255, 255, 255, 0.09);
$borderColor: rgba(224, 224, 224, 1);

// CONTAINERS VALUES
$maxWidthContainer: 1300px;
$defaultContainerPadding: 34px;

:export {
    orange: $orange;
    blue: $blue;
    crossBg: $crossBg;
    disabledOrange: $disabledOrange;
    text: $text;
    mainBg: $mainBg;
    textMedium: $textMedium;
    whiteLowOpacity: $whiteLowOpacity;
    borderColor: $borderColor;
    maxWidthContainer: $maxWidthContainer;
    defaultContainerPadding: $defaultContainerPadding;
}